/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'PokemonSolidNormal';
    src: url('original_Pokemon_Solid.eot?#iefix') format('embedded-opentype'), 
         url('original_Pokemon_Solid.woff') format('woff'),
         url('original_Pokemon_Solid.ttf') format('truetype'),
         url('original_Pokemon_Solid.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}